@font-face {
  font-family: "circular-book";
  src: local("circular-book"), url('../fonts/circular-book.woff') format('woff')
}

@font-face {
  font-family: "proxima-nova-bold-webfont";
  src: local("proxima-nova-bold-webfont"), url('../fonts/proxima-nova-bold-webfont.woff') format('woff')
}

*{
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
	font-family: "liento-circular-black";
}

.onclickbuttonwrapper{
  
    position: relative;
   
}
.albumcoverwrapper{
  position: absolute;
  top: 30vh;
  left: -10vh;
}

h1, h2 {
  font-family: "proxima-nova-bold-webfont";
}

.welcome{
  position: relative;
  top:6vh;
  left:10vh;
  font-family: "circular-book";
  color: white;
  font-size: 22;
}

.username {
  position: relative;
  font-family: "proxima-nova-bold-webfont";
  color: white;
  font-size: 50;
  top: 7vh;
  left: 10vh;
}

img{
  border-radius: 50%;
  position: relative;
  top: 30%;
  left: 7vh; 
}

img:hover{
  box-shadow: 0px 0px 10px 10px #1ed761 , 2.5px 10px 20px 7.5px black ;
}   

.otherwrapper{
  position:absolute;
  top: 25%;
  left:35%;
}

.imagewrapper{
  position: absolute;
  top:22.5%;
  left:20%;
}
.wrapper{
	position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*background: rgba(0, 0, 0,0.6);*/
    max-width: 550px;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.wrapper .input {
    width: 85%;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-family: "proxima-nova-bold-webfont";
    font-size: 24px;
}

.searchbtn {
    width: 10%;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.searchbtn .fas{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;

}

.search{
  width: 100%;
  height: 100%;
  border: none;
}

.search:hover{
  background-color: #58D384; /* Green */color: black;
}
.username:hover{
  color: #58D384;
}

.welcome:hover{
  color: #58D384;
}
/* .spotify-image{
  position: absolute;
  top: 18%;
  left: 29%;
} */

.current_song_label_hidden {
  display: none;
}

.current_song_label_shown {
  color:darkgreen;
}

.album_cover_shown {
  display: block;
}

.album_cover_hidden {
  display: none;
}