@font-face {
    font-family: "liento-circular-black";
    src: local("liento-circular-black"), url('../fonts/lineto-circular-black.woff') format('woff')
}

@font-face {
    font-family: "proxima-nova-bold-webfont";
    src: local("proxima-nova-bold-webfont"), url('../fonts/proxima-nova-bold-webfont.woff') format('woff')
}

button {
    border: none;
    background-color: #85F2AC;
    text-align: center;
    border: 2px solid #1D7F2D;
    font-size: 16px;
    display: inline;
    padding: 5px 5px;
    font-style: bold;
    font-family: "liento-circular-black";
}


.login {
    border-radius: 12px;
    padding: 10px 10px 10px 10px;
    font-size:30px;
    width: 250px;
    height: 60px;
    outline: transparent;
    font-family: "proxima-nova-bold-webfont";
}
.login:hover{
    background-color: #58D384; /* Green */color: black;
}

.Quizify {
    font-size: 85px;
    text-align: center;
    padding: 20px;
    color: #58D384;
    font-family: "proxima-nova-bold-webfont" ;

}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.body {
    height: 100vh;
    position: initial;
}
